{% extends 'base.html.twig' %}

{% block title %}Staff{% endblock %}

{% block body %}
    <h1>Staff</h1>

    <table class="table table-sm table-dark">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ staff.id }}</td>
            </tr>
            <tr>
                <th>FullName</th>
                <td>{{ staff.FullName }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ staff.Email }}</td>
            </tr>
            <tr>
                <th>Phone</th>
                <td>{{ staff.Phone }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ staff.CreatedAt ? staff.CreatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Skills</th>
                <td>{{ staff.Skills }}</td>
            </tr>
            <tr>
                <th>Comments</th>
                <td>{{ staff.Comments }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-dark" href="{{ path('staff_index') }}" role="button">Back to list</a>

    <a class="btn btn-dark" href="{{ path('staff_edit', {'id': staff.id}) }}" role="button">edit</a>

    {{ include('staff/_delete_form.html.twig') }}
{% endblock %}
