{% extends 'base.html.twig' %}

{% block title %}ProjectPeople index{% endblock %}

{% block body %}
    <h1>ProjectPeople index</h1>

    <table class="table table-sm table-dark">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type</th>
                <th>Responsibility</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for project_person in project_peoples %}
            <tr>
                <td>{{ project_person.id }}</td>
                <td>{{ project_person.Type }}</td>
                <td>{{ project_person.Responsibility }}</td>
                <td>
                    <a class="btn btn-dark" href="{{ path('project_people_show', {'id': project_person.id}) }}" role="button">show</a>
                    <a class="btn btn-dark" href="{{ path('project_people_edit', {'id': project_person.id}) }}" role="button">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-dark" href="{{ path('project_people_new') }}" role="button">Create new</a>
{% endblock %}
