{% extends 'base.html.twig' %}

{% block title %}Project{% endblock %}

{% block body %}
    <h1>Project</h1>

    <table class="table table-sm table-dark">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ project.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ project.Title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ project.Description }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-dark" href="{{ path('project_index') }}" role="button">Back to list</a>
    <a class="btn btn-dark" href="{{ path('project_edit', {'id': project.id}) }}" role="button">Edit</a>
    {{ include('project/_delete_form.html.twig') }}
{% endblock %}
